<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <img src="assets/img/bendera.jpg" alt="Bendera Indonesia" class="flag-image">

    <!-- Card untuk informasi tentang Kemerdekaan -->
    <ion-card class="info-card">
      <ion-card-header>
        <ion-card-title>17 Agustus - Hari Kemerdekaan Indonesia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="quote">
          “17 Agustus bukan hanya sekadar tanggal. Ini adalah peringatan bahwa kita adalah bangsa yang tangguh, yang bersatu melawan segala rintangan untuk meraih kemerdekaan. Merdeka adalah semangat yang terus hidup di hati kita, untuk terus maju, berkarya, dan membawa Indonesia ke masa depan yang lebih cerah.”
        </p>
        <h3 class="sub-title">Sejarah Singkat</h3>
        <p>
          Pada 17 Agustus 1945, Indonesia secara resmi memproklamasikan kemerdekaannya setelah dijajah selama berabad-abad. Proklamasi ini dibacakan oleh Soekarno dan Mohammad Hatta sebagai bentuk kebebasan dari penjajahan.
        </p>
        <h3 class="sub-title">Makna Kemerdekaan</h3>
        <p>
          Kemerdekaan bukan hanya tentang terbebas dari penjajahan, tetapi juga tentang semangat persatuan, kerja keras, dan inovasi untuk membangun bangsa yang lebih maju.
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Card untuk informasi kontak -->
    <ion-card class="contact-card">
      <ion-card-header>
        <ion-card-title>Hubungi Kami Jika Ada Kendala</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>WhatsApp:</strong> 083107841622</p>
        <p><strong>Email:</strong> antiwidiasari17&#64;gmail.com</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
